{{template "base" .}}

{{define "title"}}SuperSet{{end}}

{{define "main"}}
<form action="/download" method="POST">
    <label for="projectName">Название проекта</label>
    <input id="projectName" name="projectName" required>
    <div>
        <input type="radio" id="typeChoice1" name="type" value="json">
        <label for="typeChoice1">JSON</label>
        <input type="radio" id="typeChoice2" name="type" value="csv" required>
        <label for="typeChoice2">CSV</label>
    </div>
    <label for="timestamp">Timestamp</label>
    <input id="timestamp" name="timestamp">
    <label for="originid">ID оригинала</label>
    <input id="originid" name="originid">
    <input type="submit" class="btn btn-lg btn-primary btn-block" />
</form>
{{end}}