{{template "base" .}}

{{define "title"}}Labeling{{end}}

{{define "main"}}

{{ if .TaskFound }}
<!-- Input data formating -->
{{ if eq .InputType "PlainText"}}
Текст
<p>{{ .Text }}</p>
{{ end}}

{{ if eq .InputType "TableData"}}
<table class="label-image table">
    <thead>
      <tr>
        <th scope="col">#</th>
        {{ range $index, $colname := .ColNames }}
        <th scope="col">{{ $colname }} </th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        {{ range $index, $val := .ColVals }}
        <td>{{ $val }} </td>
        {{ end }}
      </tr>
    </tbody>
  </table>
{{ end }}

{{ if eq .InputType "Image"}}
<img width="600" height="600" src="/static/media/{{.ImgSrc}}" class="rounded mx-auto d-block">
{{ end }}

<!-- Output data formating -->
<form class="mx-auto d-block form-signin" method="POST" action="/label">
{{ if eq .OutputType "Integer"}}
<input name="IntegerData">
{{ end }}

{{ if eq .OutputType "Float"}}
<input name="FloatData">
{{ end }}

{{ if eq .OutputType "ClassData"}}
<div class="mx-auto d-block">
    {{ range $index, $element := .Classes }}
    <input class="mx-auto d-block" type="radio" name="ClassLabel" value="{{ $element }}">
    <label class="mx-auto d-block" for="contactChoice1">{{ $element }}</label>
    {{ end }}
</div>
{{ end }}

{{ if eq .OutputType "PlainText"}}
<input class="form-control mx-auto d-block" placeholder="Введите метку" name="TextData">
{{ end }}

<input type="hidden" name="projectID" value="{{.ProjectID}}">
<input type="hidden" name="queuetaskID" value="{{ .TaskID }}">
<input type="hidden" name="originID" value="{{.OriginID }}">
<input type="hidden" name="Projects" value="{{.Projects }}">
<button type="submit" class="btn btn-lg btn-primary btn-block">Отправить</button>
</form>
{{ else }}

<div class="form-signin">
<h1 class="h3 mb-3 font-weight-normal">Извините у этого проекта не осталось не размеченных данных</h1>  
<a class="btn btn-lg btn-primary btn-block" href="/start_label">Выбрать проекты</a>
<a class="btn btn-lg btn-primary btn-block" href="/label?Projects={{.Projects}}">Обновить</a>
</div>
{{ end }}
{{end}}