{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "main"}}    
<!-- Custom styles for this template -->
<form class="form-signin" action="/login" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста авторизуйтесь</h1>
    {{ if .InputError }}
    <p>{{ .InputError }}</p>
    {{end}}
    <label for="inputEmail" class="sr-only">Login</label>
    <input id="inputEmail" class="form-control" placeholder="Login" name="Login" required autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  </form>
{{end}}