{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "main"}}
<form class="form-signin" action="/new_project" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Новый проект</h1>
    {{ if .InputError }}
    <p>{{ .InputError }}</p>
    {{end}}
    <label for="projectName" class="sr-only">Название проекта</label>
    <input id="projectName" class="form-control mb-3" placeholder="Название проекта" name="projectName" required autofocus>
    <p>
      Тип входных данных
    </p>
    <select name="ischema" class="form-control mb-3 form-control-lg">
      <option value="PlainText">Текст</option>
      <option value="Image">Изображение</option>
      <option value="TableData">Табличные данные</option>
    </select>
    <p>
    Тип выходных данных
    </p>
    <select name="oschema" class="form-control mb-3 form-control-lg">
      <option value="PlainText">Текст</option>
      <option value="ClassData">Классы</option>
      <option value="Integer">Целое</option>
      <option value="Float">Вещественное</option>
    </select>
<!--
    <div>
      <input type="classname" placeholder="Класс 1">
      <input type="classname" placeholder="Класс 2">
      <input type="classname" placeholder="Класс 3">
      <button>+</button>
    </div>
  -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Cоздать</button>
  </form>
{{end}}