{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "main"}}
<form class="form-signin" action="/new_project" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Новый проект</h1>
    {{ if .InputError }}
    <p>{{ .InputError }}</p>
    {{end}}
    <label for="projectName" class="sr-only">Название проекта</label>
    <input id="projectName" class="form-control" placeholder="Название проекта" name="projectName" required autofocus>
    <div>
      <input type="radio" id="ischemaChoice1"
       name="ischema" value="PlainText">
      <label for="ischemaChoice1">Текст</label>
  
      <input type="radio" id="ischemaChoice2"
       name="ischema" value="Image">
      <label for="ischemaChoice2">Картинка</label>

      <input type="radio" id="ischemaChoice3"
       name="ischema" value="TableData">
      <label for="ischemaChoice3">Табличные данные</label>

    </div>
    <div>
      <input type="radio" id="oschemaChoice1"
       name="oschema" value="PlainText">
      <label for="oschemaChoice1">Текст</label>
  
      <input type="radio" id="oschemaChoice2"
       name="oschema" value="ClassData">
      <label for="oschemaChoice2">Классы</label>

      <input type="radio" id="oschemaChoice3"
      name="oschema" value="Integer">
      <label for="oschemaChoice3">Целое</label>

      <input type="radio" id="oschemaChoice4"
      name="oschema" value="Integer">
      <label for="oschemaChoice4">Вещественное</label>
    </div>
<!--
    <div>
      <input type="classname" placeholder="Класс 1">
      <input type="classname" placeholder="Класс 2">
      <input type="classname" placeholder="Класс 3">
      <button>+</button>
    </div>
  -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Cоздать</button>
  </form>
{{end}}