{{template "base" .}}

{{define "title"}}{{.UserName}}{{end}}

{{define "main"}}

<h3>Проекты</h3>
<div class="container">
    <div class="row">
    <div class="col-2">
        <p><strong>Пользователь:</strong>{{ .UserName }}</p>
    </div>
    <div class="col-6">
        {{ range $i, $proj := .Projects }}
        <div class="row">
            <div class="col-4">
            <a href="/project?name={{ $proj.Name }}">{{ $proj.Name }}</a>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="col-4"></div>
    </div>
</div>

{{end}}