{{ template "base" . }}

{{ define "title" }} {{ .Project.Name }} {{ end }}

{{ define "main"}}

<div class="form-signin">
</div>
<div class="container">
    <div class="row">
        <div class="row">
        <form action="/grant" class="form-signin" method="POST">
            <h1 class="h3 mb-3 mx-auto font-weight-normal">{{ .Project.Name }}</h1>
            <h1 class="h3 mb-3 mx-auto font-weight-normal">Добавление/удаление прав на проект</h1>
            {{ if .AddError }}
            <div class="row"></div>
            <p> {{ .AddError }} </p>
            </div>
            {{ end }}
            {{ if .DeleteError }}
            <p>{{ .DeleteError }}</p>
            {{ end }}
            <input name="username" class="form-control" placeholder="Имя пользователя" required>
            <input name="name" class="form-control" type="hidden" value="{{.Project.Name}}">
            <button name="add" class="btn mx-auto" value="true" type="submit">+</button>
            <button name="delete" class="btn mx-auto" value="true" type="submit">-</button>
        </form>
        </div>
    </div>
</div>

{{ end }}