# binnary

*.exe
*.out

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.run.xml
*.synctex.gz
*.dvi
*.toc
*.latexmain
*.nav
*.snm
*.vrb

# tarantool
.rocks
src/tarantool/data

# other
.vscode
src/static/media/*